# Archivos de entorno con credenciales
.env
.env.*
.envlocal
*.env
!.env.example

# Dependencias
__pycache__/
*.py[cod]
*$py.class
venv/

# Logs y archivos temporales
*.log
.DS_Store
Thumbs.db

#Archivos de configuracion
docker-compose.yml