version: '3.8'

services:
  veredix:
    build: .
    container_name: veredix_app
    environment:
      DB_HOST: host.docker.internal   # Apunta a la máquina host
      DB_PORT: "54322"
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: postgres
      OPENAI_API_KEY: "sk-proj-*********"
      AWS_ACCESS_KEY_ID: "**********"
      AWS_SECRET_ACCESS_KEY: "****************************"
      AWS_REGION: "us-east-1"
      TAVILY_API_KEY: "tvly-dev-**************"

    ports:
      - "7777:7777"
    extra_hosts:
      - "host.docker.internal:host-gateway"  # Necesario en Linux para resolver el host
    restart: unless-stopped